header.siteHeader
  .siteHeader__contacts
    .wrapper
      ul.social
        li.social__item
          a.social__href.fab.fa-facebook-f(href='javascript:void(0);')
        li.social__item
          a.social__href.fab.fa-twitter(href='javascript:void(0);')
        li.social__item
          a.social__href.fab.fa-google-plus-g(href='javascript:void(0);')
        li.social__item
          a.social__href.fab.fa-linkedin-in(href='javascript:void(0);')
      a.siteHeader__phone(href='tel:+4499151012545') +44 99151012545
      a.siteHeader__email(href='mailto:contact@bluelance.com') contact@bluelance.com
  .mainHeader
    .wrapper
      h1.logo
        a(href='#') Craft Lance
      nav.mainHeader__nav
        ul.nav
          li.nav__item
            a.nav__href(href='javascript:void(0);') Products
          li.nav__item
            a.nav__href(href='javascript:void(0);') Solutions
          li.nav__item
            a.nav__href(href='javascript:void(0);') Support
      a.btn.btn-green(href='javascript:void(0);') Sing in