//begin about.section
.about.section
  .wrapper
    .section__header
      h2.section__title.section__title-dark О нас
      p.section__text
        span МДЦ “Нептун” -
        =space
        |многофункциональный комплекс, который включает в себя:
    .about__content
      .card
        .card__img(style='background-image: url(./img/content/hotel.png)')
          a(href='javascript:void(0);').card__more Гостиничный комплекс
      .card
        .card__img(style='background-image: url(./img/content/restaurant.png)')
          a(href='javascript:void(0);').card__more Гостиничный комплекс
      .card
        .card__img(style='background-image: url(./img/content/sport.png)')
          a(href='javascript:void(0);').card__more Ресторанный комплекс
      .card
        .card__img(style='background-image: url(./img/content/offices.png)')
          a(href='javascript:void(0);').card__more Офисный комплекс
//end about.section