//begin advantages
.advantages.section
  .wrapper
    .section__header
      h2.section__title Фитнес-Центр “Нептун” - 17 лет успешной работы!
    .advantages__content.section__content
      .advantages__item
        .advantages__img(style='background-image: url(img/general/car.svg)')
        p.advantages__text Современный клуб в центре города с
          =' '
          a(href='javascript:void(0);') удобным расположением
          =' '
          |и собственной бесплатной парковкой
      .advantages__item
        .advantages__img(style='background-image: url(img/general/bike.svg)')
        p.advantages__text У нас есть все необходимое для проведения комфортных полноценных тренировок, восстановления и отдыха
      .advantages__item
        .advantages__img(style='background-image: url(img/general/star.svg)')
        p.advantages__text Занимаясь в нашем клубе можно встретить известных политиков, деятелей театра и кино, индустрии шоу-бизнеса
      .advantages__item
        .advantages__img(style='background-image: url(img/general/biceps.svg)')
        p.advantages__text
          a(href='javascript:void(0);') Профессиональная команда
          =' '
          |нашего клуба подготавливает большое количество мастеров спорта в различных дисциплинах
      .advantages__item
        .advantages__img(style='background-image: url(img/general/discount.svg)')
        p.advantages__text Для вас действует открытая ценовая политика и
          =' '
          a(href='javascript:void(0);') система скидок и бонусов
//end advantages