//begin allHalls.section
.allHalls.section
  .wrapper
    .allHalls__content
      .card
        .card__img(style='background-image: url(./img/content/squash.png)')
          a(href='javascript:void(0);').card__more Сквош

      .card
        .card__img(style='background-image: url(./img/content/tennis.png)')
          a(href='javascript:void(0);').card__more Тенис
      .card
        .card__img(style='background-image: url(./img/content/table_tennis.png)')
          a(href='javascript:void(0);').card__more Настольный тенис
      .card
        .card__img(style='background-image: url(./img/content/combat.png)')
          a(href='javascript:void(0);').card__more Зал единоборств
//end allHalls.section