//begin halls
.halls.section
  .wrapper
    .section__header
      h2.section__title.section__title-dark Залы
    .halls__content
      //begin card
      .card
        .card__img(style='background-image: url(img/content/hall.png)')
          a(href='javascript:void(0);').card__more
            span Тренажерный зал
        .card__about.card__about-dark
          p.card__text
            span 101
            =space
            | новый европейский тренажер
          p.card__text.item__numeric
            span 100
            =space
            | кв. м
        .card__table.card__table-dark
          .card__tableTitle Групповые занятия:
          .card__tableContent
            .card__tableCol
              span Танцы
              span Аэробика
            .card__tableCol
              span Йога
              span Боди скульпт
            .card__tableCol
              a(href='javascript:void(0);').card__btn.btn.btn-darkShadow расписание
      //end card
      //begin card
      .card
        .card__img(style='background-image: url(img/content/hall_2.png)')
          a(href='javascript:void(0);').card__more
            span Аэробный зал
        .card__about.card__about-dark
          p.card__text
            span 101
            =space
            | новый европейский тренажер
          p.card__text.item__numeric
            span 100
            =space
            | кв. м
        .card__table.card__table-dark
          .card__tableTitle Групповые занятия:
          .card__tableContent
            .card__tableCol
              span Танцы
              span Аэробика
            .card__tableCol
              span Йога
              span Боди скульпт
            .card__tableCol
              a(href='javascript:void(0);').card__btn.btn.btn-darkShadow расписание
      //end card
//end halls