//begin offer.section
.offer.section(style='background-image: url(img/general/offer_bg.png)')
  .wrapper
    .section__header
      h2.section__title.section__title-white Протестируйте
    .offer__content
      .offer__text
        p.offer__item.item__numeric
          span 7
          =space
          | дней
        p.offer__item.item__numeric
          span 3500
          =space
          | рублей
        p.offer__item Неограниченное посещение
      form.offer__form
        input.offer__input(placeholder='Ваш телефон')
        button.offer__button.btn.btn-lightShadow Протестировать
//end offer.section