//begin pool.section
.pool(style='background-image: url(img/general/pool_bg.png);').section
  .wrapper
    .section__header
      h2.section__title.section__title-white Бассейн
    .pool__content
      //begin card
      .card
        .card__img(style='background-image: url(img/content/pool.png)')
          a(href='javascript:void(0);').card__more
            span Взрослый бассейн
        .card__about.card__about-white
          p.card__text.item__numeric
            span 25
            =space
            | метров
          p.card__text.item__numeric
            span 5
            =space
            | дорожек
        .card__table.card__table-white
          .card__tableTitle Групповые занятия:
          .card__tableContent
            .card__tableCol
              span Танцы
              span Аэробика
            .card__tableCol
              span Йога
              span Боди скульпт
            .card__tableCol
              a(href='javascript:void(0);').card__btn.btn.btn-lightShadow расписание
      //end card
      //begin card
      .card
        .card__img(style='background-image: url(img/content/pool_2.png)')
          a(href='javascript:void(0);').card__more
            span Детский бассейн
        .card__about.card__about-white
          p.card__text.item__numeric
            span 10
            =space
            | метров
          p.card__text
            | от
            =space
            span 6
            =space
            | лет
            br
            |проводятся занятия
        .card__table.card__table-white
          .card__tableTitle Групповые занятия:
          .card__tableContent
            .card__tableCol
              span Танцы
              span Аэробика
            .card__tableCol
              span Йога
              span Боди скульпт
            .card__tableCol
              a(href='javascript:void(0);').card__btn.btn.btn-lightShadow расписание
      //end card
//end pool.section