//begin footer
.footer
  .wrapper
    .footer__row
      .logo
        a(href="/") zet
      .footer__cr
        p © Copyright 2015. Allright Reserved
      .footer__social
        p Stay In Touch
        ul.social
          li
            a(href='javascript:void(0);').social__item
              +icon('twitter')
          li
            a(href='javascript:void(0);').social__item
              +icon('linkedin')
          li
            a(href='javascript:void(0);').social__item
              +icon('vimeo')
          li
            a(href='javascript:void(0);').social__item
              +icon('dribbble')
//end footer