//begin header
.header
  .wrapper
    .header__row
      //begin logo
      .logo
        a(href='/') zet
      //end logo

      .header__nav
        .header__nav-small
          span menu
          +icon('menu')
        //begin nav
        ul.nav
          li.nav__item
            a(href='#services').nav__href services
          li.nav__item
            a(href='#works').nav__href works
          li.nav__item
            a(href='#review').nav__href review
          li.nav__item
            a(href='#team').nav__href team
          li.nav__item
            a(href='#price').nav__href price
          li.nav__item
            a(href='#contacts').nav__href contacts
        //end nav

//end header