//begin footer
.footer
  .wrapper
    .footer__mainRow
      .footer__col
        .footer__contacts
          a(href='javascript:void(0);').footer__logo
            img(src="/img/general/LogoNeptun__white.png").logo
          .footer__phoneBox
            a(href='tel:+78123244696').footer__phone +7 (812) 324-46-96
            a(href='tel:+78123244696').footer__phone +7 (812) 324-46-96
          p.footer__text
            |Санкт-Петербург, МДЦ Нептун наб. Обводного канала, 93-а
          //begin social
          .footer__social.social
            .social__item
              a(href='javascript:void(0);').social__btn ВКонтакте
                span.social__btnImg
                  +icon('vk_tile')
          //end social
      .footer__col
        .footer__nav
          //begin nav
          ul.nav
            li.nav__item
              a(href='javascript:void(0);').nav__href Тренажерный зал
            li.nav__item
              a(href='javascript:void(0);').nav__href Аэробный зал
            li.nav__item
              a(href='javascript:void(0);').nav__href Бассейн
              ul.nav__subnav
                li.nav__item
                  a(href='javascript:void(0);').nav__href Взрослый бассейн
                li.nav__item
                  a(href='javascript:void(0);').nav__href Десткий бассейн
            li.nav__item
              a(href='javascript:void(0);').nav__href Сквош
            li.nav__item
              a(href='javascript:void(0);').nav__href Теннис
          //end nav
      .footer__col
        .footer__nav
          //begin nav
          ul.nav
            li.nav__item
              a(href='javascript:void(0);').nav__href Настольный теннис
            li.nav__item
              a(href='javascript:void(0);').nav__href Зал единоборств
            li.nav__item
              a(href='javascript:void(0);').nav__href Spa и другие услуги
              ul.nav__subnav
                li.nav__item
                  a(href='javascript:void(0);').nav__href Турецкая сауна
                li.nav__item
                  a(href='javascript:void(0);').nav__href Инфракрасная сауна
                li.nav__item
                  a(href='javascript:void(0);').nav__href Массажный кабинет
                li.nav__item
                  a(href='javascript:void(0);').nav__href Кислородная борокамера
                li.nav__item
                  a(href='javascript:void(0);').nav__href Сауна стандарт
                li.nav__item
                  a(href='javascript:void(0);').nav__href Фитнес бар
          //end nav
      .footer__col
        .footer__menu
          //begin menu
          ul.menu
            li.menu__item
              a(href='javascript:void(0);').menu__href О клубе
            li.menu__item
              a(href='javascript:void(0);').menu__href Клубные карты
            li.menu__item
              a(href='javascript:void(0);').menu__href Расписание
            li.menu__item
              a(href='javascript:void(0);').menu__href Новости
            li.menu__item
              a(href='javascript:void(0);').menu__href Акции
            li.menu__item
              a(href='javascript:void(0);').menu__href Контакты
          //end menu
    .footer__bottomRow
      p МДЦ “Нептун” © 2017
      a(href='javascript:void(0);') Создание сайта - веб студия интернет-агентства “Волекс”
//end footer