//begin clients
.clients
  .wrapper
    .clients__content
      a(href='javascript:void(0);').clients__client
        +icon('cola')
      a(href='javascript:void(0);').clients__client
        +icon('intel')
      a(href='javascript:void(0);').clients__client
        +icon('dropbox')
//end clients