//begin first
.first(style='background-image: linear-gradient(to left, rgba(72,85,99, .7), rgba(41,50,60, .7)), url(img/general/main.png)')
  .first__box
    .first__header
      h2.first__title Something Nothing
      .first__desc
        p Enean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim iam ultricies nisi eleifend tellus.
    a(href='javascript:void(0);').btn-light.first__btn let's talk
  .first__nav
    a(href='#services').first__navBtn
      +icon('arrow')
//end first