//begin price
.section.price#price
  .wrapper
    .section__header-dark
      h2.section__title PRICING TABLE
      .section__desc
        p Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
    .price__content
      //begin offer
      .offer
        .offer__header
          h3.offer__title standard pack
          .offer__price
            span $50
            span per month
        .offer__desc
          p exercitation ullaborum sed do eiusmod tempor incididunt ut  quis nostrud exercitation ullamco laboris
        a(href='javascript:void(0);').btn-dark.offer__button sing up
      //end offer
      //begin offer
      .offer
        .offer__header
          h3.offer__title best pack
          .offer__price
            span $100
            span per month
        .offer__desc
          p eiusmod tempor incididunt ut  quis nostrud exercitation ullamco laboris minim aliqua labore dolore nostrud laboris ullamco incididunt quis
        a(href='javascript:void(0);').btn-dark.offer__button sing up
      //end offer
      //begin offer
      .offer
        .offer__header
          h3.offer__title premium pack
          .offer__price
            span $500
            span per month
        .offer__desc
          p incididunt ut labore et dolore  magna aliqua Ut enim ad minim veniam quis nostrud  exercitation ullaborum sed do eiusmod tempor incididunt ut  quis nostrud exercitation ullamco laboris
        a(href='javascript:void(0);').btn-dark.offer__button sing up
      //end offer

//end pricing