// begin reviews 
.section.reviews#review
  .wrapper
    .section__header.section__header-dark
      h2.section__title HAPPY CLIENTS
      .section__desc
        p Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
    // begin slick-slider 
    .slick-slider
      .slick-slide
        // begin review 
        .review
          .review__desc
            p Bebed pupu warni sangsam ngundang ajang, gujeng sirah lair menda bebucal benang; lek-lekan?Madeg pendhet lenggah, "nanem dipetak dhuwung, dipun awis bokong ayam. gendhis angsal JawaIpsum nangis rumput wilujeng unyeng-unyeng; pados gujeng benter andhap lisa Leres, lisah,ulem-ulem nedhi gesang manah cangkem: nem aken benter bebucal baita dangu
          .review__authorPhoto(style='background-image: url(img/content/adam.png)')
          .review__authorName
            span Vasily Nganu
          .review__authorProf
            span Dropbox Senior Developer
        // end review 
      .slick-slide
        // begin review 
        .review
          .review__desc
            p laborum necessitatibus neque odio perspiciatis quo unde veritatis. Ad adipisci architecto aspernatur, debitis delectus distinctio dolores eius eligendi enim ex exercitationem iure laborum libero modi nisi quas quidem quis reprehenderit saepe sit totam ullam ut vitae.
          .review__authorPhoto(style='background-image: url(img/content/adam.png)')
          .review__authorName
            span Vasily Nganu
          .review__authorProf
            span Dropbox Senior Developer
        // end review 

    .slider__nav


    // end slick-slider 
// end reviews 