// begin services 
.section.services#services
  .wrapper
    .section__header.section__header-dark
      h2.section__title.section__title-dark services
      .section__desc
        p Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
    .services__items
      .item
        .item__img
          +icon('laptop')
        h3.item__title fully responsive
        .item__desc
          p Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
           |tellus. Phasellus viverra nulla ut metus varius laoreet.
      .item
        .item__img
          +icon('adjust')
        h3.item__title EASY CUSTOMIZE
        .item__desc
          p Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae.
      .item
        .item__img
          +icon('map')
        h3.item__title SEO READY
        .item__desc
          p Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi
      .item
        .item__img
          +icon('heart')
        h3.item__title MADE WITH LOVE
        .item__desc
          p ecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
            |vulputate eget, arcu.
      // end item 
// end services 