//begin team
#team.section.team(style='background-image: linear-gradient(to right, rgba(72,82,99, .5), rgba(40,50,60, .5)), url(img/general/team_bg.jpg);')

  .wrapper
    .section__header.section__header-light
      .section__title OUR PROFESSIONAL TEAM
      .section__desc
        p Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
    .team__content
      // begin member 
      .member
        .member__photo(style='background-image: url(img/content/ceo.png)')
        .member__about
          .member__name Salazar Slytherin
          .member__prof CEO
          .member__social
            // begin social
            ul.social
              li
                a(href='javascript:void(0);').social__item
                  +icon('twitter')
              li
                a(href='javascript:void(0);').social__item
                  +icon('linkedin')
              li
                a(href='javascript:void(0);').social__item
                  +icon('vimeo')
              li
                a(href='javascript:void(0);').social__item
                  +icon('dribbble')
              li
                a(href='javascript:void(0);').social__item
                  +icon('mail')
            // end social
      // end member
      // begin member
      .member
        .member__photo(style='background-image: url(img/content/ceo.png)')
        .member__about
          .member__name Salazar Slytherin
          .member__prof CEO
          .member__social
            //begin social
            ul.social
              li
                a(href='javascript:void(0);').social__item
                  +icon('twitter')
              li
                a(href='javascript:void(0);').social__item
                  +icon('linkedin')
              li
                a(href='javascript:void(0);').social__item
                  +icon('vimeo')
              li
                a(href='javascript:void(0);').social__item
                  +icon('dribbble')
              li
                a(href='javascript:void(0);').social__item
                  +icon('mail')
            //end social
      // end member
      // begin member
      .member
        .member__photo(style='background-image: url(img/content/ceo.png)')
        .member__about
          .member__name Salazar Slytherin
          .member__prof CEO
          .member__social
            //begin social
            ul.social
              li
                a(href='javascript:void(0);').social__item
                  +icon('twitter')
              li
                a(href='javascript:void(0);').social__item
                  +icon('linkedin')
              li
                a(href='javascript:void(0);').social__item
                  +icon('vimeo')
              li
                a(href='javascript:void(0);').social__item
                  +icon('dribbble')
              li
                a(href='javascript:void(0);').social__item
                  +icon('mail')
            //end social
      // end member
      // begin member
      .member
        .member__photo(style='background-image: url(img/content/ceo.png)')
        .member__about
          .member__name Salazar Slytherin
          .member__prof CEO
          .member__social
            //begin social
            ul.social
              li
                a(href='javascript:void(0);').social__item
                  +icon('twitter')
              li
                a(href='javascript:void(0);').social__item
                  +icon('linkedin')
              li
                a(href='javascript:void(0);').social__item
                  +icon('vimeo')
              li
                a(href='javascript:void(0);').social__item
                  +icon('dribbble')
              li
                a(href='javascript:void(0);').social__item
                  +icon('mail')
            //end social
      // end member
    a(href='javascript:void(0);').btn-light MEET OUR FULL TEAM
// end team 