//begin works
.section.works#works
  .wrapper
    .section__header.section__header-dark
      h2.section__title.section__title-dark works
      .section__desc
        p Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
  .works__content
    .works__work(style='background-image: url("./img/content/1.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/2.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/3.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/4.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/5.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/4.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/5.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/3.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/2.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
    .works__work(style='background-image: url("./img/content/1.png");')
      .works__workMask
        h3.item__title.works__workTitle HTLM / CSS
        a.btn-light.works__workButton(href='javascript:void(0);') see more
//end works