section.section.community
  .wrapper
    .container
      h1.section__header Community Sign Up
      .card.community__card
        .card__list
          h2 Signup Process
          ol
            li User enters email address
            li Clicks on “Sign up for free”
      .community__selector.switcher
        .switcher__container
          label
            input(type='radio' name='stage' checked)
            i.fas.fa-sign-in-alt
            |Community Edition
        .switcher__container
          label
            input(type='radio' name='stage')
            i.fas.fa-sign-in-alt
            |Complete Signup Process
        .switcher__container
          label
            input(type='radio' name='stage')
            i.fas.fa-sign-in-alt
            |Sign up