section.section.feature
  .wrapper
    h1.section__header A Comprehensive Data Integration and Business Analytics Platform
    .feature__content
      +item('fas fa-book')
      +item('fas fa-bug')
      +item('fas fa-coffee')
      +item('fas fa-cogs')
      +item('fas fa-external-link-alt')
      +item('fas fa-folder-open')
      +item('fab fa-telegram-plane')
      +item('fab fa-pagelines')

