section.section.hotOffer
  .wrapper
    h1.section__header Bring your Big Data to Life With Craft Lance
    p.section__desc Blue Lance transforms your company's data into rich visuals for you to collect
      |and organize so you can focus on what matters to you. Stay in the know, spot trends
      |as they happen, and push your business further.
    img.hotOffer__img(src='img/content/notebook.png' alt='notebook')
    form.form
      .form__container
        input.form__input(type='text' placeholder='Enter your email address')
        button.form__btn(type='submit') Use it free
    p.hotOffer__condition By clicking Use it free, you agree to the  BlueLance
      a(href='javascript:void(0);')  Terms of Service.