section.section.price
  .wrapper
    h1.section__header Affordable Services Package
    .switcher
      input(id='check1' type='radio' name='switch' checked)
      label(for='check1') Business Edition
      span or
      input(id='check2' type='radio' name='switch')
      label(for='check2') Community Edition
    .price__table
      .price__offer
        h4 basic
        .price__value
          .container
            span $59
            span per month
        ul
          li
            i.fas.fa-check-circle
            |20 Keyword
          li
            i.fas.fa-times
            |No Time Tracking
          li
            i.fas.fa-check-circle
            |230 - Man Hour
          li
            i.fas.fa-times
            |News Letter Available
        a.btn(href='javascript:void(0);') purchase
      .price__offer
        h4 standart
        .price__value
          .container
            span $79
            span per month
        ul
          li
            i.fas.fa-check-circle
            | 20 Keyword
          li
            i.fas.fa-times
            | No Time Tracking
          li
            i.fas.fa-check-circle
            | 230 - Man Hour
          li
            i.fas.fa-times
            | News Letter Available
        a.btn(href='javascript:void(0);') purchase
      .price__offer
        h4 unlimited
        .price__value
          .container
            span $99
            span per month
        ul
          li
            i.fas.fa-check-circle
            | 20 Keyword
          li
            i.fas.fa-times
            | No Time Tracking
          li
            i.fas.fa-check-circle
            | 230 - Man Hour
          li
            i.fas.fa-times
            | News Letter Available
        a.btn(href='javascript:void(0);') purchase