//begin examples
.section.examples
  .wrapper
    .section__header.section__header-dark
      h2.section__title Примеры работ наших выпускников
    .section__content
      //begin card
      .card
        .card__photo(style='background-image: url(img/content/work1.png);')
        button.btn(type='button') Хочу научиться также
      //end card
      //begin card
      .card
        .card__photo(style='background-image: url(img/content/work2.png);')
        button.btn(type='button') Хочу научиться также
      //end card
//end examples