//begin graduates
.section.graduates
  .wrapper
    .section__header.section__header-dark
      h2.section__title Наши выпускники
    .section__content
      .slider
        .slider__content.owl-carousel.owl-theme
          //begin card
          .card
            .card__photo(style='background-image: url(img/content/graduate.png);')
            .card__content
              .card__title
                .card__prof МАСТЕР ПЕРМАНЕНТНОГО МАКИЯЖА
                .card__name Петрова елена, 32 года
              .card__about
                p.card__text Перманентного макияжа-стилист, дипломированный специалист перманентного макияжа, участник международных конференций и выставок, мастер-преподаватель,
            .card__work Сейчас работает в:
              a.card__workLable(style='background-image: url(img/content/lable.png);' href='javascript:void(0)')
          //end card
          //begin card
          .card
            .card__photo(style='background-image: url(img/content/graduate.png);')
            .card__content
              .card__title
                .card__prof МАСТЕР ПЕРМАНЕНТНОГО МАКИЯЖА
                .card__name Петрова елена, 32 года
              .card__about
                p.card__text Перманентного макияжа-стилист, дипломированный специалист перманентного макияжа, участник международных конференций и выставок, мастер-преподаватель,
            .card__work Сейчас работает в:
              a.card__workLable(style='background-image: url(img/content/lable.png);' href='javascript:void(0)')
          //end card
          //begin card
          .card
            .card__photo(style='background-image: url(img/content/graduate.png);')
            .card__content
              .card__title
                .card__prof МАСТЕР ПЕРМАНЕНТНОГО МАКИЯЖА
                .card__name Петрова елена, 32 года
              .card__about
                p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet atque autem cum deserunt distinctio dolor eligendi est fuga magni maiores non, omnis praesentium provident quas quidem, quo recusandae rem repudiandae suscipit, temporibus ut voluptatem! Amet, beatae delectus esse illum ipsam ipsum minima molestias nulla omnis quam quasi, quibusdam sapiente!
            .card__work Сейчас работает в:
              a.card__workLable(style='background-image: url(img/content/lable.png);' href='javascript:void(0)')
          //end card
          //begin card
          .card
            .card__photo(style='background-image: url(img/content/graduate.png);')
            .card__content
              .card__title
                .card__prof МАСТЕР ПЕРМАНЕНТНОГО МАКИЯЖА
                .card__name Петрова елена, 32 года
              .card__about
                p.card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dignissimos doloremque eligendi eos, est eum, eveniet, facere fuga fugit labore libero minus modi nam numquam pariatur quam quas quos rerum.
            .card__work Сейчас работает в:
              a.card__workLable(style='background-image: url(img/content/lable.png);' href='javascript:void(0)')
          //end card
//end graduates 