//begin reason
.section.reason
  .wrapper

    .section__header.section__header-dark
      h2.section__title 9 причин выбрать нашу школу перманентного макияжа
    .section__content
      //begin item
      .item
        .item__img
          +icon('diamond')
        +icon('arrow')
        .item__text КАЧЕСТВЕННОЕ ОБРАЗОВАНИЕ ОТ ЛИДЕРА В ИНДУСТРИИ перманентного макияжа
      //end item
      //begin item
      .item
        .item__img
          +icon('diamond')
        +icon('arrow')
        .item__text КАЧЕСТВЕННОЕ ОБРАЗОВАНИЕ ОТ ЛИДЕРА В ИНДУСТРИИ перманентного макияжа
      //end item
      //begin item
      .item
        .item__img
          +icon('camera')
        +icon('arrow')
        .item__text КАЧЕСТВЕННОЕ ОБРАЗОВАНИЕ ОТ ЛИДЕРА В ИНДУСТРИИ перманентного макияжа
      //end item
      //begin item
      .item
        .item__img
          +icon('camera')
        +icon('arrow')
        .item__text КАЧЕСТВЕННОЕ ОБРАЗОВАНИЕ ОТ ЛИДЕРА В ИНДУСТРИИ перманентного макияжа
      //end item
      //begin item
      .item
        .item__img
          +icon('forma')
        +icon('arrow')
        .item__text КАЧЕСТВЕННОЕ ОБРАЗОВАНИЕ ОТ ЛИДЕРА В ИНДУСТРИИ перманентного макияжа
      //end item
      //begin item
      .item
        .item__img
          +icon('forma2')
        +icon('arrow')
        .item__text САМЫЕ НОВЕЙШИЕ ТЕХНОЛОГИИ МИКРОПИГМЕНТИРОВАНИЯ МИРОВОГО УРОВНЯ
      //begin item
      .item
        .item__img
          +icon('forma2')
        +icon('arrow')
        .item__text САМЫЕ НОВЕЙШИЕ ТЕХНОЛОГИИ МИКРОПИГМЕНТИРОВАНИЯ МИРОВОГО УРОВНЯ
      //end item
    .section__bottom
      .section__phrase СТАНОВИТЕСЬ КРАСИВЫМИ И УСПЕШНЫМИ ВМЕСТЕ С НАМИ!
      button.btn(type='button') записаться на курс
  .reason__bgImg


//end reason