//begin teachers
.section.section-dark.teachers
  .wrapper
    .section__header.section__header-white
      .section__title.section__title-white Наши учителя
    .section__content
      //begin slider
      .slider
        .slider__content.owl-carousel.owl-theme
          //begin card
          .card
            .card__photo.card__photo-round(style='background-image: url(img/content/graduate.png);')
            .card__content
              .card__title
                .card__name Петрова елена
                .card__dir МАСТЕР ПЕРМАНЕНТНОГО МАКИЯЖА
              .card__about
                p.card__text Перманентного макияжа-стилист, дипломированный специалист перманентного макияжа, участник международных конференций и выставок, мастер-преподаватель,
              .card__exp Опыт работы:
                = ' '
                span 8 лет

              button.btn Хочу у нее учиться
          //end card
          //begin card
          .card
            .card__photo.card__photo-round(style='background-image: url(img/content/graduate.png);')
            .card__content
              .card__title
                .card__name Петрова елена
                .card__dir МАСТЕР ПЕРМАНЕНТНОГО МАКИЯЖА
              .card__about
                p.card__text Перманентного макияжа-стилист, дипломированный специалист перманентного макияжа, участник международных конференций и выставок, мастер-преподаватель,
              .card__exp Опыт работы:
                = ' '
                span 8 лет

              button.btn Хочу у нее учиться
          //end card
          //begin card
          .card
            .card__photo.card__photo-round(style='background-image: url(img/content/graduate.png);')
            .card__content
              .card__title
                .card__name Петрова елена
                .card__dir МАСТЕР ПЕРМАНЕНТНОГО МАКИЯЖА
              .card__about
                p.card__text Перманентного макияжа-стилист, дипломированный специалист перманентного макияжа, участник международных конференций и выставок, мастер-преподаватель,
              .card__exp Опыт работы:
                = ' '
                span 8 лет
              button.btn Хочу у нее учиться
          //end card
          //begin card
          .card
            .card__photo.card__photo-round(style='background-image: url(img/content/graduate.png);')
            .card__content
              .card__title
                .card__name Петрова елена
                .card__dir МАСТЕР ПЕРМАНЕНТНОГО МАКИЯЖА
              .card__about
                p.card__text Перманентного макияжа-стилист, дипломированный специалист перманентного макияжа, участник международных конференций и выставок, мастер-преподаватель,
              .card__exp Опыт работы:
                = ' '
                span 8 лет
              button.btn Хочу у нее учиться
          //end card
      //end slider
//end teachers